<div class="checkout">
  <h1>Checkout</h1>
  <p class="message-p">{{ orderMsg }}</p>
  <div class="row">
    <div class="col-sm-7">
      <h3>Add shipping address</h3>
      <form
        class="common-form"
        #orderData="ngForm"
        (ngSubmit)="orderNow(orderData.value)"
      >
        <input
          class="form-input"
          type="text"
          name="email"
          placeholder="Enter Your Email"
          ngModel
          #email="ngModel"
        />
        <input
          class="form-input"
          type="text"
          name="address"
          placeholder="Enter Your Address"
          ngModel
          #address="ngModel"
        />
        <input
          class="form-input"
          type="text"
          name="contact"
          placeholder="Enter Contact Details "
          ngModel
          #contact="ngModel"
        />
        <button class="form-button">Order Now</button>
      </form>
    </div>
    <div class="col-sm-5">
      <h3>Total Amount : {{ totalPrice }}</h3>
      <h4>Payment Method : <b>Pay on Delivery</b></h4>
    </div>
  </div>
</div>
