<div class="not-found-container flex-center">
  <mat-card class="msg-card flex-center">
    <svg-icon mat-list-icon src="assets\icons\404-not-found.svg" [stretch]="true">
    </svg-icon>
    <p class="msg">A little lost? Let's try again.</p>
    <p class="Back-to-previous-page-and-check-back-again-shortly">
      The link is broken or the page has been mover, Back to previous page and check back again shortly.
    </p>
  </mat-card>
  <button mat-button class="default-link" (click)="backToHome()">
    Back To Home
  </button>
</div>
