.nav {
  display: flex;
  justify-content: space-between;

  h1 {
    color: blue;
    margin: 0;
    font-size: 30px;

    a{
      color: blue;
      text-decoration: none;
    }
  }

  .nav-search {
    display: flex;
    margin: 5px 5% 5%;
    flex: 1;

    input {
      color: blue;
      border: 1px solid blue;
      height: 30px;
      border-right: 0px;
      flex: 1;
    }

    button {
      color: blue;
      border: 1px solid blue;
      height: 30px;
      border-left: 0px;
    }

    .suggested-result {
      position: absolute;
      display: list-item !important;
      z-index: 10;
      width: 300px;
      top: 40px;
      border: 1px solid #ddd;
      background-color: #fff;

      li {
        border: 1px solid #ddd;
        padding: 5px;

        a {
          cursor: pointer;
          color: blue;
        }
      }
    }
  }

  ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 15px;
      padding-top: 15px;

      a {
        text-decoration: none;
        color: blue;
        cursor: pointer;
      }
    }

  }
}
