<div class="product-list">
  <h1>All Product List</h1>
  <p class="message-p">{{productMessage}}</p>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Category</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prdouct of productList">
        <td><img src="{{prdouct.image}}"/></td>
        <td>{{prdouct.name}}</td>
        <td>{{prdouct.price}}</td>
        <td>{{prdouct.color}}</td>
        <td>{{prdouct.category}}</td>
        <td>{{prdouct.description}}</td>
        <button (click)="deleteProduct(prdouct.id)">Delete</button>
      </tr>
    </tbody>
  </table>
</div>
