<div class="user-auth">
  <div *ngIf="!showLoggin" class="user-signup">
    <h1>User Sign-up</h1>
    <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
      <input class="form-input" type="text" name="name" ngModel placeholder="Enter User Name">
      <input class="form-input" type="text" name="email" ngModel placeholder="Enter User Email">
      <input class="form-input" type="password" name="password" ngModel placeholder="Enter User Password">
      <button class="form-button">Sign Up</button>
      <p>Already Hava Account? <a (click)="openLogin()">Click Here</a></p>
    </form>
  </div>

  <div *ngIf="showLoggin" class="user-login">
    <h1>User Login</h1>
    <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
      <p class="error-p">{{authError}}</p>
      <input #email="ngModel" class="form-input" type="text" name="email" ngModel placeholder="Enter User Email" required minlength="2" maxlength="20">
      <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter Valid Value</span></p>
      <input #password="ngModel" class="form-input" type="password" name="password" ngModel placeholder="Enter User Password" required>
      <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter Valid Value</span></p>
      <button [disabled]="userLogin.invalid" class="form-button">Login</button>
      <p>Want To Create Account? <a (click)="openSignUp()">Click Here</a></p>
    </form>
  </div>
</div>
