h1 {
  text-align: center;
  margin-top: 5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: blue;
}

.auth-toggle-link {
  margin-top: 2rem;
  color: blue;
  cursor: pointer;
  font-size: 14px;

}
